.logo {
	display: inline-block;
	vertical-align: middle;
	margin-top: 67px;
	margin-right: 725px;
	margin-left: 132px;

}
.nav {
	display: inline-block;
	vertical-align: middle;
	margin-top: 82px;
	margin-left: : 287px;
	margin-right: 1,052px;
}
.nav1 {
	display: inline-block;
	color: #3D37F1
	vertical-align: middle;
	margin-left: 10px;

}
.header {
	background-color: white;
}
.header-nav-ul {
	list-style-type: none;
}
.chamonatvali {
	color: red;
}
.block1 {
	height: 1187px;
	width: 1920px;
}
h1 {
	font-size: 78px;
	padding-top: 300px;
	padding-left: 124px;
	padding-right: 1,129px;
	box-sizing: border-box;
	color: #534D4D
}
h2 {
	font-size: 78px;
	padding-top: 0px;
	padding-left: 124px;
	padding-right: 1,129px;
	box-sizing: border-box;
	color: #534D4D
}
.text1 {
	margin-top: 42px;
	margin-left: 124px;
	margin-right: 1,194px;
	width: 636px;
	height: 103px;
	font-size: 22px;
	color: #534D4D
}
.comp {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0px;
	margin-left: 1031px;
	margin-right: 88px;
}
.flex1{
	display: flex;
}
.flex2 {
    width: 1170px;
    margin: 0 auto;
}
.blocks {
	width: 371px;
	height: 374px;
	background-color: grey;
	display: inline-block;

}
.block-flex {
	display: flex;
	justify-content: space-between;
	display: inline-block;
}
.block1 {

}
.xeli {
	width: 263.67px;
	height: 76.77px;
	background-color: #3D37F1
	border-radius: 50px;
}